.Comedy_card{
  display: flex;
  justify-content: center;
  
}
.Comedy_card_main{
  width: 850px;
  height: 124px;
  padding: 24px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.Comedy_card_main_img{
  width: 64px;
  height: 96px;
}
.Comedy_card_main_content{
  width: 750px;
  display: flex;
  justify-content: space-between;
}
.Comedy_card_main_conteiner{

}
.Comedy_card_main_conteiner_title{
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.Comedy_card_main_conteiner_time{
  margin-bottom: 4px;
  font-size: 13px;
}
.Comedy_card_main_conteiner_creater{
  margin-top: 4px;
  font-size: 13px;
  line-height: 16px;
  color: #777;
  overflow: hidden;
}
.Comedy_card_main_conteiner_roles{
  margin-top: 4px;
  font-size: 13px;
  line-height: 16px;
  color: #777;
  overflow: hidden;
}
.Comedy_card_main_rate{
  width: 340px;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.Comedy_card_main_rate_block_one{
  display: flex;
  align-items: center;
}
.Comedy_card_main_rate_block_one_span1{
  color: #3bb33b;
  margin-right: 4px;
  font-size: 18px;
  font-weight: 500;
}
.Comedy_card_main_rate_block_one_span2{
  font-size: 12px;
  color: #777;
}
.Comedy_card_main_rate_block_two{
  margin-bottom: 4px;
  color: #f60;
  font-weight: 500;
  font-size: 12px;
}
.Comedy_card_main_rate_button{
  display: flex;
}
.Comedy_card_main_rate_button_one{
  border: 1px solid rgba(0,0,0,.1);
  padding: 8px 16px;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Comedy_card_main_rate_button_two{
  padding: 1px 1px;
  border: 1px solid rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.Comedy_card_main_rate_button_three{
  padding: 2px 2px;
  cursor: pointer;
}
